body {
  perspective: 1000px;
  transform-style: preserve-3d
}
.rc--random-circle {
  position: fixed;
  border-radius: 50%;
  opacity: 1;
  transform-style: preserve-3d;
  transform: translateX(0);
  z-index: -1;
}

h1 {
  color: #404040;
  font-weight: 700;
  font-style: normal;
  font-size: 30pt;
  font-family: "paralucent-condensed", sans-serif;
  text-align: left;
}
#main {
  width: 55vw;
  height: 30vh;
  position: relative;
  left: 23vw;
  top: 30vh;
  z-index: 1;
}
.button {
  position: absolute;
  background-color: #B22222;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  text-align: center;
  border-style: none;
  opacity: 0.9;
}

#project-1 {
  top: 8vh;
  left: 20vw;
}
#project-2 {
  top: 50vh;
  left: 4vw;
}
#project-3 {
  top: 70vh;
  left: 35vw;
}
#project-4 {
  top: 3vh;
  left: 60vw;
}
#project-5 {
  top: 50vh;
  left: 80vw;
}
.button:hover {
  transition: 0.1s;
  transform: scale(1.1);	
	}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  line-height: 22px;
	}
	#emily {
	  text-decoration: none;
	  color:#404040;
	  border-bottom: 0.04 em solid; 
	}
	#emily.hover {
	  color: #B22222;
	}