body {
  perspective: 1000px;
  transform-style: preserve-3d
}
.rc--random-circle {
  position: fixed;
  border-radius: 50%;
  opacity: 1;
  transform-style: preserve-3d;
  transform: translateX(0);
  z-index: -1;
}
h1 {
  color: #404040;
  font-weight: 700;
  font-style: normal;
  font-size: 30pt;
  font-family: 'paralucent-condensed', sans-serif;
  text-align: left;
}
#main {
  width: 55vw;
  height: 30vh;
  position: relative;
  left: 23vw;
  top: 30vh;
  z-index: 1;
}
.button {
  position: absolute;
  background-color: #B22222;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  text-align: center;
  border-style: none;
  margin: 3%;
  opacity: 0.9;
}

#project-1 {
  background-color: #B22222;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  font-size: 10pt;
}

.button:hover {
  transition: 0.1s;
  transform: scale(1.1);	
	}

a {
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  font-family: "paralucent-condensed", sans-serif;
  letter-spacing: 1px;
	}