body {
    font-size: 1em;
}

img {
    display: none;
}

.purple-header {
    background-color: #533a71;
    width: 100vw;
    height: 4em;
    padding: 0.8em;
    margin-bottom: 4vh;
    border-bottom: 0.3em solid #9975b9;
}

.yellow-stars {
    position: absolute;
}

.empty-stars {
    position: absolute;
}

.icon {
    color: #ffa630;
    font-size: 8vh;
    margin: 1vw;
}

.empty-icon {
    color: #3c264c;
    font-size: 8vh;
    margin: 1vw;
}

 .orange-banner {
    width: 43em;
    height: 7em;
    position: relative;
    background: #ffa630;
    margin: auto;
  }
  .orange-banner:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 2em solid white;
    border-top: 3.5em solid transparent;
    border-bottom: 3.5em solid transparent;
  }
  .orange-banner:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 2em solid white;
    border-top: 3.5em solid transparent;
    border-bottom: 3.5em solid transparent;
  }


h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
    font-family: "europa", sans-serif;
    font-weight: 800;
    padding-top: 0.4em;
}

h2 {
    color: #533a71;
    font-size: 1em;
    text-align: center;
    line-height: 0.1em;
    font-family: "europa", sans-serif;
    font-weight: 600;
    text-transform: lowercase;
}
.game {
    width: 31.3em;
    height: 17em;
    border: 10px solid #533a71;
    margin: 4vh auto;
    padding: 1.5em;
    font-family: "europa", sans-serif;
    display: block;
}

.buttons {
    margin: 0 auto;
    position: absolute;
    top: 33.5em;
}

.btn {
    font-family: "europa", sans-serif;
    font-size: .9em;
    width: 10.6em;
    height: 2em;
    background-color: #533a71;
    color: white;
    text-align: center;
    padding-top: 0.8em;
    position: relative;
    float: left;
}

#breitbart-btn {
    margin-left: 1.4em;
    margin-right: 1.4em
}

.btn:hover {
    border: 0.1em solid #533a71;
    background-color: white;
    color: #533a71;
    width: 10.4em;
    height: 1.8em;
}
p {
    font-family: "europa", sans-serif;
}
a {
    font-family: "europa", sans-serif;
    font-size: 0.6em;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
}



  @media (min-width: 450px) and (max-width: 608px){
    .orange-banner {
        width: 28em;
        height: 4.5em;
    }
    .orange-banner:after {
        border-left: 1em solid white;
        border-top: 2.25em solid transparent;
        border-bottom: 2.25em solid transparent;
    }
    .orange-banner:before {
        border-right: 1em solid white;
        border-top: 2.25em solid transparent;
        border-bottom: 2.25em solid transparent;
    }
    .game {
        width: 22.5em;
        height: 20em;
    }
    h1 {
        font-size: 1.5em;
    }
    .btn {
        width: 8em;
        margin: 0;
    }
    #breitbart-btn {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .buttons {
        top: 34em;
    }
    .btn:hover {
        width: 7.8em;
    }

}

@media (max-width: 449px){
      .orange-banner {
          width: 24em;
          height: 5em;
      }
      .orange-banner:after {
          border-left: 1em solid white;
          border-top: 2.5em solid transparent;
          border-bottom: 2.5em solid transparent;
      }
      .orange-banner:before {
          border-right: 1em solid white;
          border-top: 2.5em solid transparent;
          border-bottom: 2.5em solid transparent;
      }
      h1 {
          font-size: 1.5em;
      }
      .game {
          width: 18em;
          height: 22em;
          padding: 1em;
      }
      .purple-header {
          height: 2em;
      }
      .icon {
          font-size: 1.5em;
      }
      .empty-icon {
          font-size: 1.5em;
      }
       #breitbart-btn {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
      .buttons {
        top: 34em;
      }
      .btn {
          width: 8.2em;
          font-size: 0.7em;
      }
      .btn:hover {
          width: 8em;
      }
}
