body {
}

.purple-header {
    background-color: #533a71;
    width: 100vw;
    height: 12vh;
    padding: 1em;
    margin-bottom: 4vh;
}
.icon {
    color: #ffa630;
    font-size: 8vh;
    margin: 1vw;
}

.orange-banner {
    width: 48vw;
    height: 18vh;
    background-color: #ffa630;
    padding: 1em;
    margin: auto;
}

h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 0.6em;
    font-family: "europa", sans-serif;
    font-weight: 800;
}

h2 {
    color: #533a71;
    font-size: 1em;
    text-align: center;
    line-height: 0.1em;
    font-family: "europa", sans-serif;
    font-weight: 600;
    text-transform: lowercase;
}
.game {
    width: 40vw;
    height: 40vh;
    border: 10px solid #533a71;
    margin: 4vh auto;
    padding: 1em;
}

.buttons {
    position: relative;
    top: 7em;
}

.btn {
    font-family: "europa", sans-serif;
    width: 12vw;
    height: 5vh;
    background-color: #533a71;
    color: white;
    margin: 0.5em;
    text-align: center;
    padding-top: 0.5em;
    position: relative;
    float: left;
}

.btn:hover {
    border: 0.1em solid #533a71;
    background-color: white;
    color: #533a71;
    width: 11.8vw;
    height: 4.8vh;
}
