		*,
		*:before,
		*:after {
			  box-sizing: border-box;
			}
		body, html {
			width: 100%;
			height: 100%;
			background-color: black;
			padding: 3%;
		}
		h1 {
			color: white;
			font-family: 'Nobile', sans-serif;
			font-size: 16pt;
			line-height: 1.8;
			letter-spacing: 1px;
		}
		
		  	button {
		  	border-style: none;
			float: left;
			margin: 1%;
			vertical-align: middle;
  			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px transparent;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: transform;
			transition-property: transform;
		}
		
			button:hover, button:focus, button:active {
	  		-webkit-transform: scale(1.1);
	  		transform: scale(1.1);
		}
		#redSquare {
			background-color: red;
			width: 50px;
			height: 50px;
		}

		#yellowTriangle {
			border-bottom: solid 50px rgb(255,255,0);
			border-left: solid 30px transparent;
			border-right: solid 30px transparent;
			width: 60px;
			height: 30px;
  			}
  			
		#blueCircle {
			background-color: blue;
			width: 50px;
			height: 50px;
			border-radius: 100%;
  			top: 200px;
  			}
  			
