		body {
			background-color: black;
			padding: 5%;
		}
		h1 {
			color: white;
			font-family: sans-serif;
		}
		input {
			color: white;
		}
		p {
			color: white;
			font-family: sans-serif;
		}
		input {
			font-family: sans-serif;
			width: 30px;
			margin: 5px;
			background-color: black;
			color: white;
		}
		button {
			background-color: black;
			color: white;
		}
		#redSquare {
			background-color: red;
			width: 50px;
			height: 50px;
			margin: 15px;
			float: left;
		}
		#yellowCircle {
			background-color: yellow;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin: 15px;
			float: left;
		}
		#blueSquare {
			background-color: blue;
			width: 50px;
			height: 50px;
			margin: 15px;
			float: left;
		}